.button {
  display: flex;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: all 0.2s;

  svg {
    flex-shrink: 0;

    path {
      transition: all 0.2s;
    }
  }

  &.sm {
    padding: 10px 20px;
    gap: 6px;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
    border-radius: 4px;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &.lg {
    padding: 12px 36px;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 6px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.primary {
    color: #ffffff;
    background: #007aff;

    &:hover {
      background: #003aff;
    }

    &:active {
      background: #003bc1;
    }

    svg {
      path {
        stroke: #ffffff;
      }
    }
  }

  &.secondary {
    color: #272d37;
    background: #e0efff;

    &:hover {
      background: #c4e0ff;
    }

    &:active {
      background: #b1d6ff;
    }

    svg {
      path {
        stroke: #1c1c1c;
      }
    }
  }

  &.outline {
    color: #1c1c1c;
    background: #fff;
    border: 1px solid #dddfe4;

    &:hover {
      background: #f5faff;
    }

    &:active {
      background: #e0efff;
    }

    svg {
      path {
        stroke: #272d37;
      }
    }
  }

  &.sm.onlyIcon {
    padding: 10px;
  }

  &.lg.onlyIcon {
    padding: 14px;
  }

  &.disabled {
    pointer-events: none;
    color: #919ba7;
  }

  &.disabled.primary,
  &.disabled.secondary {
    background: #dddfe4;

    svg {
      path {
        stroke: #919ba7;
      }
    }
  }

  &.disabled.outline {
    background: #efeff1;
    border: 1px solid #dddfe4;
  }
}
